<?xml version="1.0" ?>
<robot name="arm_scoop_payload" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <!-- Wrapper file:
       include the reusable arm scoop macro and instantiate it standalone. -->
  <xacro:include filename="$(find kanga_description)/urdf/payloads/arm/arm_scoop_payload_macro.urdf.xacro"/>

  <link name="base_link"/>
  <xacro:arm_scoop_payload parent="base_link"/>
</robot>
