<?xml version="1.0" ?>
<!-- Generated using onshape-to-robot -->
<!-- Onshape https://tronsoc.onshape.com/documents/a04fc62c100c90ae88802972/w/c0a63c4f09140e5b63a1ee94/e/6441c68a791f9e1842cd52ba -->
<robot name="autonomous_lidar_payload">
  <!-- Link autonomouslidarmount -->
  <link name="autonomouslidarmount">
    <inertial>
      <origin xyz="-0.0301856 0.1575 0.184178" rpy="0 0 0"/>
      <mass value="0.4"/>
      <inertia ixx="0.0134847" ixy="3.8e-11" ixz="4.99203e-06" iyy="0.0100213" iyz="-2.9141e-08" izz="0.00357387"/>
    </inertial>
    <!-- Part autonomouslidarmount -->
    <visual>
      <origin xyz="-0.420514 0.1575 -0.1216" rpy="-0 -0 0"/>
      <geometry>
        <mesh filename="package://kanga_description/assets_autonomous_lidar_payload/autonomouslidarmount.stl"/>
      </geometry>
      <material name="autonomouslidarmount_material">
        <color rgba="0.231373 0.380392 0.705882 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0.420514 0.1575 -0.1216" rpy="-0 -0 0"/>
      <geometry>
        <mesh filename="package://kanga_description/assets_autonomous_lidar_payload/autonomouslidarmount.stl"/>
      </geometry>
    </collision>
  </link>
  <!-- Frame autonomous_lidar_mount (dummy link + fixed joint) -->
  <link name="autonomous_lidar_mount">
    <origin xyz="0 0 0" rpy="0 -0 0"/>
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="1e-9"/>
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
    </inertial>
  </link>
  <joint name="autonomous_lidar_mount_frame" type="fixed">
    <origin xyz="0 0 0" rpy="0 -0 0"/>
    <parent link="autonomouslidarmount"/>
    <child link="autonomous_lidar_mount"/>
    <axis xyz="0 0 0"/>
  </joint>
  <!-- Frame unilidarl2_mount (dummy link + fixed joint) -->
  <link name="unilidarl2_mount">
    <origin xyz="0 0 0" rpy="0 -0 0"/>
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="1e-9"/>
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
    </inertial>
  </link>
  <joint name="unilidarl2_mount_frame" type="fixed">
    <origin xyz="-0.0300581 0.1575 0.355979" rpy="2.79253 -0 1.5708"/>
    <parent link="autonomouslidarmount"/>
    <child link="unilidarl2_mount"/>
    <axis xyz="0 0 0"/>
  </joint>
</robot>
