<?xml version="1.0" ?>
<!-- Generated using onshape-to-robot -->
<!-- Onshape https://tronsoc.onshape.com/documents/5c74485ef1d773fbe17b5191/w/13a360a01956ee72624f8844/e/4f69a19437168b6ccd258c1e -->
<robot name="kanga_arm">
  <!-- World link -->
  <link name="world"/>
  <!-- World fixed joint -->
  <joint name="world_to_link_0" type="fixed">
    <origin xyz="0 0 1.5" rpy="0 0 0"/>
    <parent link="world"/>
    <child link="link_0"/>
  </joint>
  <!-- Link link_0 -->
  <link name="link_0">
    <inertial>
      <origin xyz="0.0534431 0.000868494 -0.0329755" rpy="0 0 0"/>
      <mass value="2"/>
      <inertia ixx="0.00575024" ixy="-4.54603e-05" ixz="0.00164683" iyy="0.0134027" iyz="-7.90709e-05" izz="0.0110408"/>
    </inertial>
    <!-- Part link_0 -->
    <visual>
      <origin xyz="0.000312299 -3.32401e-08 -0.006" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="../meshes/link_0.obj"/>
      </geometry>
      <material name="link_0_material">
        <color rgba="0.866667 0.321569 0.156863 1.0"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.000312299 -3.32401e-08 -0.006" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="../meshes/link_0.obj"/>
      </geometry>
    </collision>
  </link>
  <!-- Link link_1 -->
  <link name="link_1">
    <inertial>
      <origin xyz="0.0141715 3.85445e-05 -0.0327671" rpy="0 0 0"/>
      <mass value="3"/>
      <inertia ixx="0.00548445" ixy="-4.26074e-05" ixz="0.000711404" iyy="0.00754472" iyz="-2.00457e-05" izz="0.00584209"/>
    </inertial>
    <!-- Part link_1 -->
    <visual>
      <origin xyz="-0.0371177 -0.00307196 -0.00542623" rpy="-3.14159 -6.12323e-17 -3.14159"/>
      <geometry>
        <mesh filename="../meshes/link_1.obj"/>
      </geometry>
      <material name="link_1_material">
        <color rgba="0.909804 0.572549 0.164706 1.0"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0.0371177 -0.00307196 -0.00542623" rpy="-3.14159 -6.12323e-17 -3.14159"/>
      <geometry>
        <mesh filename="../meshes/link_1.obj"/>
      </geometry>
    </collision>
  </link>
  <!-- Link link_2 -->
  <link name="link_2">
    <inertial>
      <origin xyz="5.45232e-05 0.335701 -0.0248492" rpy="0 0 0"/>
      <mass value="3"/>
      <inertia ixx="0.0948354" ixy="-1.92563e-05" ixz="1.36908e-05" iyy="0.00444366" iyz="0.00202733" izz="0.0933432"/>
    </inertial>
    <!-- Part link_2 -->
    <visual>
      <origin xyz="-1.35827e-16 -0.0333952 -0.0255" rpy="-3.14159 -1.0383e-15 3.14159"/>
      <geometry>
        <mesh filename="../meshes/link_2.obj"/>
      </geometry>
      <material name="link_2_material">
        <color rgba="1 0.756863 0.054902 1.0"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-1.35827e-16 -0.0333952 -0.0255" rpy="-3.14159 -1.0383e-15 3.14159"/>
      <geometry>
        <mesh filename="../meshes/link_2.obj"/>
      </geometry>
    </collision>
  </link>
  <!-- Link link_3 -->
  <link name="link_3">
    <inertial>
      <origin xyz="-0.0107315 0.240757 0.017578" rpy="0 0 0"/>
      <mass value="3"/>
      <inertia ixx="0.0780417" ixy="0.00353837" ixz="-5.88381e-06" iyy="0.00307029" iyz="-0.000135421" izz="0.0792794"/>
    </inertial>
    <!-- Part link_3 -->
    <visual>
      <origin xyz="2.03381e-16 -0.0333952 0.0245" rpy="-3.53685e-32 -5.17181e-32 -2.71171e-31"/>
      <geometry>
        <mesh filename="../meshes/link_3.obj"/>
      </geometry>
      <material name="link_3_material">
        <color rgba="0.372549 0.654902 0.239216 1.0"/>
      </material>
    </visual>
    <collision>
      <origin xyz="2.03381e-16 -0.0333952 0.0245" rpy="-3.53685e-32 -5.17181e-32 -2.71171e-31"/>
      <geometry>
        <mesh filename="../meshes/link_3.obj"/>
      </geometry>
    </collision>
  </link>
  <!-- Link link_4 -->
  <link name="link_4">
    <inertial>
      <origin xyz="0.0159258 0.0175577 -0.0907084" rpy="0 0 0"/>
      <mass value="0.7"/>
      <inertia ixx="0.00147843" ixy="-0.000247556" ixz="0.00031233" iyy="0.00133112" iyz="0.000394487" izz="0.000694134"/>
    </inertial>
    <!-- Part realsense_d435 -->
    <visual>
      <origin xyz="0.029 0.047268 -0.1235" rpy="-3.88277e-13 1.5708 0"/>
      <geometry>
        <mesh filename="../meshes/realsense_d435.obj"/>
      </geometry>
      <material name="realsense_d435_material">
        <color rgba="0.439216 0.47451 0.501961 1.0"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.029 0.047268 -0.1235" rpy="-3.88277e-13 1.5708 0"/>
      <geometry>
        <mesh filename="../meshes/realsense_d435.obj"/>
      </geometry>
    </collision>
    <!-- Part link_4 -->
    <visual>
      <origin xyz="-0.031466 -0.485804 0.00580036" rpy="1.5708 0.165785 3.07257"/>
      <geometry>
        <mesh filename="../meshes/link_4.obj"/>
      </geometry>
      <material name="link_4_material">
        <color rgba="0.0862745 0.317647 0.690196 1.0"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0.031466 -0.485804 0.00580036" rpy="1.5708 0.165785 3.07257"/>
      <geometry>
        <mesh filename="../meshes/link_4.obj"/>
      </geometry>
    </collision>
  </link>
  <!-- Link link_5 -->
  <link name="link_5">
    <inertial>
      <origin xyz="-1.73816e-05 0.00396525 -0.0672244" rpy="0 0 0"/>
      <mass value="0.8"/>
      <inertia ixx="0.0016703" ixy="6.37168e-07" ixz="-4.44697e-07" iyy="0.00190346" iyz="0.000102396" izz="0.0006164"/>
    </inertial>
    <!-- Part fre_gripper__fixed -->
    <visual>
      <origin xyz="-0.0030445 0.0021803 -0.22035" rpy="-1.5708 6.45552e-16 3.14159"/>
      <geometry>
        <mesh filename="../meshes/fre_gripper__fixed.obj"/>
      </geometry>
      <material name="fre_gripper__fixed_material">
        <color rgba="0.596078 0.121569 0.67451 1.0"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0.0030445 0.0021803 -0.22035" rpy="-1.5708 6.45552e-16 3.14159"/>
      <geometry>
        <mesh filename="../meshes/fre_gripper__fixed.obj"/>
      </geometry>
    </collision>
    <!-- Part link_5 -->
    <visual>
      <origin xyz="0.121562 -0.481333 0.061466" rpy="1.96748 -1.39134 2.7906"/>
      <geometry>
        <mesh filename="../meshes/link_5.obj"/>
      </geometry>
      <material name="link_5_material">
        <color rgba="0.294118 0.180392 0.560784 1.0"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.121562 -0.481333 0.061466" rpy="1.96748 -1.39134 2.7906"/>
      <geometry>
        <mesh filename="../meshes/link_5.obj"/>
      </geometry>
    </collision>
  </link>
  <!-- Joint from link_4 to link_5 -->
  <joint name="J5" type="revolute">
    <origin xyz="0.03 1.6784e-14 -0.09644" rpy="3.14159 1.5708 0"/>
    <parent link="link_4"/>
    <child link="link_5"/>
    <axis xyz="0 0 1"/>
    <limit effort="100" velocity="100" lower="-1.5708" upper="1.5708"/>
  </joint>
  <!-- Joint from link_3 to link_4 -->
  <joint name="J4" type="revolute">
    <origin xyz="1.04906e-09 0.39 0.0525" rpy="1.18902e-15 8.86207e-15 1.5708"/>
    <parent link="link_3"/>
    <child link="link_4"/>
    <axis xyz="0 0 1"/>
    <limit effort="100" velocity="100" lower="-1.309" upper="2.35619"/>
  </joint>
  <!-- Joint from link_2 to link_3 -->
  <joint name="J3" type="revolute">
    <origin xyz="-1.5984e-15 0.45 0.0405" rpy="9.42059e-16 3.67644e-15 -2.153e-15"/>
    <parent link="link_2"/>
    <child link="link_3"/>
    <axis xyz="0 0 1"/>
    <limit effort="100" velocity="100" lower="-1.8326" upper="2.87979"/>
  </joint>
  <!-- Joint from link_1 to link_2 -->
  <joint name="J2" type="revolute">
    <origin xyz="0.0855 -1.39264e-05 -0.056" rpy="-1.5708 9.90848e-17 1.5708"/>
    <parent link="link_1"/>
    <child link="link_2"/>
    <axis xyz="0 0 1"/>
    <limit effort="100" velocity="100" lower="-1.5708" upper="2.44346"/>
  </joint>
  <!-- Joint from link_0 to link_1 -->
  <joint name="J1" type="revolute">
    <origin xyz="0.0809077 1.48087e-17 0.028" rpy="3.14159 -9.91271e-17 1.75639e-48"/>
    <parent link="link_0"/>
    <child link="link_1"/>
    <axis xyz="0 0 1"/>
    <limit effort="100" velocity="100" lower="-1.5708" upper="1.5708"/>
  </joint>
</robot>
