<?xml version="1.0" ?>
<!-- Generated using onshape-to-robot -->
<!-- Onshape https://tronsoc.onshape.com/documents/a04fc62c100c90ae88802972/w/c0a63c4f09140e5b63a1ee94/e/659a7a2b75f230d3e19a7407 -->
<robot name="autonomous_zed_payload">
  <!-- Link autonomous_zed_mount -->
  <link name="autonomous_zed_mount">
    <inertial>
      <origin xyz="0.00610768 9.5471e-08 0.0173842" rpy="0 0 0"/>
      <mass value="0.05"/>
      <inertia ixx="0.000182159" ixy="-7.8e-11" ixz="-3.26034e-06" iyy="1.74442e-05" iyz="-2.77e-10" izz="0.000166422"/>
    </inertial>
    <!-- Part autonomous_zed_mount -->
    <visual>
      <origin xyz="0.015 0.000556129 -0.156852" rpy="-1.5708 -0 1.5708"/>
      <geometry>
        <mesh filename="package://kanga_description/assets_autonomous_zed_payload/autonomous_zed_mount.stl"/>
      </geometry>
      <material name="autonomous_zed_mount_material">
        <color rgba="0.262745 0.282353 0.301961 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.015 0.000556129 -0.156852" rpy="-1.5708 -0 1.5708"/>
      <geometry>
        <mesh filename="package://kanga_description/assets_autonomous_zed_payload/autonomous_zed_mount.stl"/>
      </geometry>
    </collision>
  </link>
  <!-- Frame zed_camera_mount (dummy link + fixed joint) -->
  <link name="zed_camera_mount">
    <origin xyz="0 0 0" rpy="0 -0 0"/>
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="1e-9"/>
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
    </inertial>
  </link>
  <joint name="zed_camera_mount_frame" type="fixed">
    <origin xyz="0.0320595 -0 0.0225717" rpy="0 0.261799 0"/>
    <parent link="autonomous_zed_mount"/>
    <child link="zed_camera_mount"/>
    <axis xyz="0 0 0"/>
  </joint>
</robot>
